<template>
  <div class="gallery-page">
    <sidebar-component />
    <main>
      <picture-component />  
    </main>
  </div>
</template>

<script>
import SidebarComponent from "../components/SidebarComponent";
import PictureComponent from "../components/PictureComponent";

export default {
  components: {
    PictureComponent,
    SidebarComponent
  }
}
</script>

<style lang="scss">
.gallery-page {
  display: flex;
  min-height: calc(100% - 63px);
  main {
    width: 70%;
  }
}
</style>