<template>
  <div class="home">
    <h1>Herzlich Willkommen</h1>
  </div>
</template>

<script>

export default {
  name: 'Home',
}
</script>

<style lang="scss">
.home {
  height: calc(100% - 63px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3386CD;
  background: #C9C8C8;
  font-size: 75px;
  h1 {
    text-align: center;
    margin: 0;
  }
}
</style>
