<template>
  <div class="navigation">
    <router-link to="/">Startseite</router-link> |
    <router-link to="/gallery">Bilderverwaltung</router-link>
  </div>
</template>

<script>
export default {
  name: 'NavigationComponent',
}
</script>


<style lang="scss">
.navigation {
  background: #3386CD;
  padding: 20px;
  color: #000000;
  font-size: 20px;
  a {
    color: #000000;
    text-decoration: none;
  }
  .router-link-active {
    color: #FFFFFF;
  }
}
</style>
