<template>
  <div class="gallery-content">
    <template v-if="!allPhotos.length">
      <h1>Please click on an album in the sidebar to load the pictures.. </h1>
    </template>
    <template v-else>
      <div class="picture-content">
        <div class="picture" v-for="(picture, index) in allPhotos" :key="index">
          <div class="picture__wrapper">
            <img :src="picture.thumbnailUrl" :alt="picture.title">
            <div class="picture__wrapper-details">
              <p>{{ picture.title }}</p>
              <template v-if="!picture.isLiked">
                <svg-icon :fa-icon="faStar" :size="25" flip="horizontal" @click="toggleLikedStatus(picture)"></svg-icon>
              </template>
              <template v-else>
                <svg-icon :fa-icon="faStarSolid" :size="25" flip="horizontal" class="filled" @click="toggleLikedStatus(picture)"></svg-icon>
              </template>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SvgIcon from "vue3-icon";
import { faStar } from "@fortawesome/free-regular-svg-icons";
import { faStar as faStarSolid } from "@fortawesome/free-solid-svg-icons";

export default {
  name: 'PictureComponent',
  components: {
    SvgIcon
  },
  computed: {
    ...mapGetters({
      allPhotos: 'getPhotosFromAlbum',
    })
  },
  methods: {
    toggleLikedStatus(picture) {
      // dispatch an event to the store to update the liked photo
      this.$store.dispatch('updateLikedPhoto', picture);
    }
  },
  setup() {
    return {
      faStar,
      faStarSolid,
    }
  }
}
</script>

<style lang="scss">
.gallery-content {
  background: #A7A7A7;
  padding: 30px;
  min-height: calc(100% - 63px);
}
.picture-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.picture {
  &__wrapper {
    display: flex;
    flex-direction: column;
    &-details {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      p {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
      }
    }
    svg {
      cursor: pointer;
    }
    .filled {
      path {
        fill: yellow !important; 
      }
    }
  }
}
</style>
