<template>
  <div class="sidebar">
    <ul class="sidebar__lists">
      <li v-for="(list, index) in albumLists" :key="index" @click="getPhotosFromAlbum(list.id)">
        {{ list.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'SidebarComponent',
  computed: {
    ...mapGetters({
      albumLists: 'getAlbumsList',
    })
  },
  methods: {
    getPhotosFromAlbum(id) {
        this.$store.dispatch('fetchPhotosFromAlbum', id);
    }
  },
  created() {
    this.$store.dispatch('fetchAlbumsList');
  }
}
</script>

<style lang="scss">
.sidebar {
  background: #EFEFEF;
  width: 30%;
  padding: 30px;
  &__lists {
    list-style-type: none;
    padding-left: 0;
    li {
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
</style>
