<template>
  <div class="main">
    <navigation-component/>
  </div>
  <router-view/>
</template>

<script>
import NavigationComponent from "./components/NavigationComponent";

export default {
  components: {
    NavigationComponent,
  }
}
</script>

<style lang="scss">
html, body {
  height: 100%;
  margin: 0;
}
#app {
  height: 100%;
}
</style>
